name: Deploy To EKS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Create tag
        run: |
            SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
            TIMESTAMP=$(TZ=America/Sao_Paulo date +'%Y%m%dT%H%M%S')
            BUILD_TIME=$(TZ=America/Sao_Paulo date +'%Y-%m-%dT%H:%M:%S-03:00')

            echo "IMAGE_TAG=${TIMESTAMP}-${SHORT_SHA}" >> $GITHUB_ENV
            echo "BUILD_TIME=${BUILD_TIME}" >> $GITHUB_ENV

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        
      - name: Build Image
        run: |
          docker build \
          --build-arg VERSION=${{ github.ref_name }} \
          --build-arg COMMIT=${{ github.sha }} \
          --build-arg BUILD_TIME=${BUILD_TIME} \
          -t ${{secrets.DOCKERHUB_USER}}/api-auth-go:${IMAGE_TAG} .

      - name: Push Image
        run: |
          docker push ${{secrets.DOCKERHUB_USER}}/api-auth-go:${IMAGE_TAG}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.ROLE }}
          aws-region: ${{ secrets.REGION }}

      - name: Login EKS 
        run: |
            aws eks update-kubeconfig --name ${{ secrets.NOME_CLUSTER }} --region ${{ secrets.REGION }}

      - name: debug EKS 
        run: |
            kubectl --v=9 get ns

      - name: debug EKS identity
        run: |
            aws sts get-caller-identity

      - name: Deploy to EKS
        run: |
          kubectl set image deployment/api-go-auth-deployment \
            api-auth-go=${{secrets.DOCKERHUB_USER}}/api-auth-go:${IMAGE_TAG} \
            -n backend